/* reset */
* {margin: 0; padding: 0; font-size: 24px; color: #fff;}
.clearfix::before, .cleafix::after{display:block; content:''; clear:both;}

/*레이아웃*/
#wrap{width:1200px; height: 850px;}
#side{float:left;width:300px; height:850px;}
#content{float:left;width:900px; height:850px;}

/* header */
#side .logo {text-align: center; width: 300px; height: 150px; line-height: 150px; background: #d1c4e9;}
#side .nav {width: 300px; height: 700px; background: #b39ddb;}
#side .nav li {text-align: center;}
#side .nav li a {padding: 10px; display: block; font-size: 20px; color: #fff; text-decoration: none; background-color: rgba(0,0,0,0.3);}
#side .nav li a:hover {background-color: rgba(0,0,0,0.4);}
#side .nav ul li ul.submenu {display:none;}

/*banner*/
#banner{text-align: center; width:900px; line-height:450px; height:450px; background-color: #9575cd}

/*contents*/
#contents{text-align: center;}
#contents > div {float:left; width:33.33333%; height:300px;line-height: 299.98px;}
#contents > div.cont1 {background-color: #7e57c2;}
#contents > div.cont2 {background-color: #673ab7;}
#contents > div.cont3 {background-color: #5e35b1;}

/*footer*/
#footer{text-align: center;}
#footer .foot1 {float: left; width:200px; height:100px; background-color: #5e35b1;line-height: 100px;}
#footer .foot2 {float: left; width: 700px; height: 50px; background: #512da8; line-height: 50px;}
#footer .foot3 {float: left; width: 700px; height: 50px; background: #4527a0; line-height: 50px;}