<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instagram</title>
    <link rel="shotcut icon" type="image/x-icon" href="../img/instalogo.ico">
    <link rel="stylesheet" href="../style/log_in.css">
    <script defer src="../js/log_in.js"></script>
</head>
<body>
    <div class="main">
        <div class=main-box>
            <div class="left-box">
                <div class="model-phone">
                    <img class="model-page" src="../img/modelpage.jpg" alt="스마트폰내부 이미지">
                </div>
            </div>
            <div class="right-box">
                <div class="right-box-first">
                    <div class="logo-box">
                        <img class="logo-box-img" src="../img/instagram.png" alt="인스타그램 텍스트 로고">
                    </div>
                    
                    <form class="form-box">
                        <input class="id-input" type="email" placeholder="전화번호, 사용자 이름 또는 이메일">
                        <input class="password-input" type="password" placeholder="비밀번호">
                        <div class="login-btn">로그인</div>
                    </form>
                    
                    <div class="or-box">
                        <div class="or-box-bar"></div>
                        <div class="or-box-text">또는</div>
                        <div class="or-box-bar"></div>
                    </div>
                    <div class="FB-box">
                        <a id="FB-text" href="#">
                            <img class="FB-logo" src="../img/FBlogo.png" alt="페이스북 로고">
                            Facebook으로 로그인
                        </a>
                    </div>
                    <div class="wrong-box">
                        <div class="wrong-id">입력한 사용자 이름을 사용하는 계정을 찾을 수 없습니다. 사용자 이름을 확인하고 다시 시도하세요.</div>
                        <div class="wrong-password">잘못된 비밀번호입니다. 다시 확인하세요.</div>
                    </div>
                    <a class="forgot-box" href="#">비밀번호를 잊으셨나요?</a>
                </div>
                <div class="right-box-second">
                    <div class="sign-up-box">
                        <span class="no-account">계정이 없으신가요?</span>
                        <a class="sign-up" href="#">가입하기</a>
                    </div>
                </div>
                <div class="right-box-third">
                    <div class="download-text-box">앱을 다운로드하세요.</div>
                    <div class="download-btns">
                        <img class="download-btn" src="../img/appstore.png" alt="앱스토어">
                        <img class="download-btn" src="../img/googlestore.png" alt="구글플레이 스토어">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>